@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

h1,
h2 {
    margin: 0;
}

body {
    background-color: #F6F6EC;
    font-weight: 600;
}

img {
    max-width: 500px;
    width: 100%;
}

h1 {
    margin-bottom: 45px;
    font-size: 48px;
}

h2 {
    font-size: 26px;
}

ul {
    padding: 0;
}

.bayan {
    max-width: 700px;
    margin: 0 auto;
}

.bayan:hover .label {
    color: #000;
}

.bayan-list li {
    padding: 10px 0;
    border-top: 1px solid gray;
    list-style: none;
    width: 100%;
    cursor: pointer;
}

.label {
    color: #0059d9;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    transition: color .3s;
}

.label__header {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bayan:hover .label,
.bayan:hover .label i {
    color: #000;
}

.label i {
    color: transparent;
    margin-right: 10px;
    font-size: 28px;
    font-weight: 600;
    transition: all .3s;
}

.bayan li:hover .label__content {
    max-height: 500px;
}

.bayan li:hover .label i {
    transform: rotate(45deg);
}


input[type="radio"] {
    display: none;
}

.label__content {
    text-align: center;
}

.bayan-list .label__content {
    color: #555;
    padding: 0 10px;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height .4s, padding .4s;
}

.bayan-list input[type="radio"]:checked+.label .label__content {
    max-height: 500px;
}

.bayan-list input[type="radio"]:checked+.label {
    color: #000;
}

.bayan-list input[type="radio"]:checked+.label i {
    transform: rotate(45deg);
}

@media (max-width: 820px) {
    h1 {
        font-size: 40px;
        margin-bottom: 25px;
    }

    h2 {
        font-size: 24px;
    }

    img {
        max-width: 400px;
    }
}

@media (max-width: 425px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 18px;
    }

    img {
        max-width: 300px;
    }

    .bayan-list li {
        padding: 0;
    }

    .label__header {
        margin-bottom: 5px;
    }
}